<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>Welcome to Your Vue.js App</h1>
     <p>
         This is now running with Gulp! Foo
     </p>
  </div>
</template>
